<!-- START signin.html -->
<form action="/signup" method="post">
    [% IF sms_carriers %]
    [% out = form.get_field("mobileprovider").options(sms_carriers) %]
    [% END %]

    [% IF fields.exists('aup') %]
    <div class="c-card u-padding u-padding@tablet u-padding-top-none">
        [% form.get_field('aup').render | none %]
    </div>

      [% IF aup_only %]
      <script src="/common/aup-autosubmit.js"></script>
      [% END %]

    [% END %]

    [% IF self_reg_login.sso_status == 'enabled' %]
    <div class="c-card[% IF fields.exists('aup') %] c-card--hidden c-card--disabled[% END %] o-layout o-layout--center u-padding">
        <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
            <a href="[% self_reg_login.sso_login_path %]" class="c-btn c-btn--primary u-1/1">
                [% i18n(self_reg_login.sso_login_text) %]
            </a>
        </div>
    </div>
    [% END %]

    [% IF !self_reg_login.sso_status || self_reg_login.sso_status == 'disabled' || self_reg_login.allow_username_password == 'enabled' %]
    [% IF self_reg_login.sso_status == 'enabled' %]
    <div class="o-layout--center u-margin-top u-margin-bottom">
        <div class="o-layout__item">
            <p class="text-center">-- [% i18n("or") %] --</p>
        </div>
    </div>
    [% END %]

    <div class="c-card[% IF fields.exists('aup') %] c-card--hidden c-card--disabled[% END %] o-layout o-layout--center u-padding">
        <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
            [% FOREACH field IN fields.keys %]
            [% NEXT IF field == 'aup' %]
            <div class="input-container[% ' input-container--last' IF loop.last %]">
                [% form.get_field(field).render | none %]
            </div>
            [% END %]

            <button type="submit" name="submit" id="button" class="c-btn c-btn--primary u-1/1 u-margin-top disable-on-click" disabled>
                [% i18n("Continue") %]
            </button>
        </div>
    </div>
    [% END %]
</form>

[% INCLUDE 'password-button.inc' %]
<!-- END signin.html -->
